!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
  %body
    %div.top_message
      %h1 チャットグループが作成されました。
    %div.group_box
      %div.group_box__upper
        %div.group_box__upper-content
          %p
          テスト
          %i.fa.fa-cogs
          %i.fa.fa-pencil-square-o
      %div.group_box__middle_list
        %div.group_box__middle_list_name
          %h1 aaaaaaaaaaaaaa
          %p まだメッセージはありません。
        %div.group_box__middle_list_name
          %h1 テスト
          %p まだメッセージはありません。
        %div.group_box__middle_list_name
          %h1 テスト
          %p まだメッセージはありません。
    %div.chat_box
      %div.chat_box__upper
        %h1 テスト
        %input{:type => "submit",:value =>"edit"}
        %h2 member:test
      %div.chat_box__middle
        %div.chat_box__middle_message
          %h1 テスト
          %a 2017/07/01 14:47:44
          %h2 テスト
        %div.chat_box__middle_message
          %h1 テスト2
          %a 2017/07/01 14:47:44
          %h2 テスト2
        %div.chat_box__middle_message
          %h1 テスト3
          %a 2017/07/01 14:47:44
          %h2 テスト3
      %div.chat_box__bottom
        %form.chat_box__text
          %input{:type => "text",:placeholder =>"type a message",:value => ""}
          %i.fa.fa-picture-o
        %form.chat_box__button
          %input{:type => "submit",:value => "Send"}

