%body
  /= render "layouts/flash"
  .group_box
    .group_box__upper
      .group_box__upper-content
        %p
        テスト
        %i.fa.fa-cogs
        = link_to new_group_path do
          %i.fa.fa-pencil-square-o
    .group_box__middle_list
      -@groups.each do |group|
        .group_box__middle_list_name
          %h1
          =group.name
          %p まだメッセージはありません。
  .chat_box
    .chat_box__upper
      %h1 テスト
      %a{href: "/groups/#{current_user.id}/edit"} Edit
      %h3 member:test
    .chat_box__middle
      .chat_box__middle_message
        %h1 テスト
        %a 2017/07/01 14:47:44
        %h2 テスト
      .chat_box__middle_message
        %h1 テスト2
        %a 2017/07/01 14:47:44
        %h2 テスト2
      .chat_box__middle_message
        %h1 テスト3
        %a 2017/07/01 14:47:44
        %h2 テスト3
    .chat_box__bottom
      %form.chat_box__text
        %input{:type => "text",:placeholder =>"type a message",:value => ""}
        %i.fa.fa-picture-o
      %form.chat_box__button
        %input{:type => "submit",:value => "Send"}

