%body
  /= render "layouts/flash"
  .group_box
    .group_box__upper
      .group_box__upper-content
        %p
        テスト
        %i.fa.fa-cogs
        = link_to new_group_path do
          %i.fa.fa-pencil-square-o
    .group_box__middle_list
      -@groups.each do |group|
        .group_box__middle_list_name
          %h1
          =group.name
          %p まだメッセージはありません。
